{%  extends 'base.html' %}
{% load static %}


{% block head %}
  {{ block.super }}
  <link rel="stylesheet" "text/css" href="{% static 'style.css' %}">
  <title>Science Club</title>
  <style>
    table {
      margin: 0 auto;
    }
  </style>
{% endblock %}


{% block body %}
{{ block.super }} <!-- adds the navigation bar -->

<!-- Your html body goes here -->
<h1 class="header">Log In Scientist</h1>
<form method="post" action="">
{% csrf_token %}
<table>
<tr>
<td><label for="username">Username:</label></td>
<td><input class="rounded" type="text" id="username" name="username" value="{{ request.POST.username }}" required/></td><td/><br><br>
</tr>
<tr>
<td><label for="password">Password:</label></td>
<td><input class="rounded" type="password" id="password" name="password" required/></td><td/><br><br>
</tr>
</table>
<input type="submit" style="padding-left:10px;padding-right:10px;" value="Enter"/><br>
<br>
<img src="https://www.azquotes.com/picture-quotes/quote-if-the-only-time-you-think-of-me-as-a-scientist-is-during-black-history-month-then-i-neil-degrasse-tyson-29-92-56.jpg" style="width:50%;"/>

{% endblock %}
