{%  extends 'base.html' %}
{% load static %}


{% block head %}
  {{ block.super }}
  <link rel="stylesheet" "text/css" href="{% static 'style.css' %}">
  <title>Science Club</title>
  <style>
    .avatars > input{
      display: none;
    }
    .avatars img {
      width:50px;
      height:50px;
    }
    .avatars > input + img{
      cursor: pointer;
      border: 2px solid transparent;
    }
    .avatars > input:checked + img{
      border: 2px solid red;
    }
    table {
      margin: 0 auto;
    }
  </style>
{% endblock %}


{% block body %}
{{ block.super }}

<!-- Your html body goes here -->

<h1 class="header">Become a Scientist</h1>
<br>
<img src="{% static 'imgs/science.png' %}" style="width: 200px;">
<form method="post" action="">
{% csrf_token %}
<table>
<tr>
<td><label for="username">Username:</label></td>
<td><input class="rounded" type="text" id="username" name="username" value="{{ request.POST.username }}" required/></td><td/><br>
</tr>
<tr>
<td><label for="password1">Password:</label></td>
<td><input class="rounded" type="password" id="password1" name="password1" required/></td><td/><br>
</tr>
<tr>
<td><label for="password2">Confirm Password:</label></td>
<td><input class="rounded" type="password" id="password2" name="password2" required/></td><td/><br>
</tr>
<tr>
<td><label for="email">Email:</label></td>
<td><input class="rounded" type="email" id="email" name="email"/></td><td>*Optional</td><br>
</tr>
</table>
<br>
<!-- avatars div from https://codepen.io/mbrillaud/pen/emVjed -->

<label for="avatars">Pick your Avatar</label><br>

<div id="avatars">
  <label class="avatars">
    <input type="radio" name="avatar" checked="checked"/>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS4p5jkOjfAU8kaqvq2965_jQ42lhIAu3Xzw&usqp=CAU"/>
  </label>

  <label class="avatars">
    <input type="radio" name="avatar" value="on"/>
    <img src="https://img.freepik.com/free-vector/portrait-african-american-woman-profile-avatar-young-black-girl_102172-418.jpg"/>
  </label>

  <label class="avatars">
    <input type="radio"name="avatar"/>
    <img src="https://thumbs.dreamstime.com/b/cute-color-vector-illustration-beard-afro-black-guy-face-avatar-positive-young-black-guy-smiling-87383651.jpg"/>
  </label>

  <label class="avatars">
    <input type="radio" name="avatar"/>
    <img src="https://img.freepik.com/free-vector/portrait-caucasian-woman-profile-with-long-hair-avatar-young-white-girl_102172-419.jpg"/>
  </label>

  <label class="avatars">
    <input type="radio" name="avatar"/>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp0inalBnvRcvbsqUAJkO97yTlLeFTWHJmD0_LFklW-Vz9UuZTCc2_DgH80TyylprtWYs&usqp=CAU"/>
  </label>
</div>

{% if error %}
  <p style="color: red;">*{{ error }}</p>
{% endif %}
<input class="rounded btn btn-primary" type="submit" value="Register"/>

</form>
<br>
<img class="rounded" src="{% static 'imgs/granville.png' %}" style="width:40%;"/>
<p>The master of Inventions and Patents, Granville T. Woods was a prominent inventor and electrical engineer who developed inventions that were awarded 27 patents by the U.S. Patent Office between 1884 and 1903. Because of his significant electrical inventions he is known as the “Black Edison.”

Over the course of his lifetime Granville Woods obtained more than 50 patents for inventions including an automatic brake, an egg incubator, and for improvements to other technologies such as the safety circuit, telegraph, telephone, and phonograph.

People have been stealing and taking credit for his inventions and patents throughout history! This gentleman invented the precursor to the telephone and Thomas Edison tried to take credit for his idea but Mr. Woods put out a lawsuit against him and won!

Later on, Mr. Edison tried to get him to work at his company but Mr. Woods rightfully declined the offer!

Let’s give this man his roses. He definitely paved the way for future black engineers, inventors, and patent holders!</p>
<a href="https://www.instagram.com/p/CaY11zJLYZP/" value="Source"/>Source
<br><br>
</div>
{% endblock %}
