{%  extends 'base.html' %}
{% load static %}


{% block head %}
  {{ block.super }}
  <link rel="stylesheet" "text/css" href="{% static 'style.css' %}">
  <title>Science Club</title>
  <style>

  </style>
{% endblock %}


{% block body %}
{{ block.super }}

<!-- Your html body goes here -->
<h1>Welcome to the Science Club</h1>

<img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTUzNTUzNjcyOTE0MDg0OTIw/alice-ball-larger.jpg" style="width: 400px;"/>


{% endblock %}
