{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   {% block head %}
    <style>
    ul a {
          color: black !important;
    }
    ul a:hover {
      background-color: #ffba59;
    }
    </style>
      <meta charset="UTF-8">

       <!-- Import Bootstrap CSS v4.6.1 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <!-- Import Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
        <!-- Import jQuery and Bootstrap JS (for simple animations) -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="icon" href="{% static 'imgs/science.png' %}">
    {% endblock %}
</head>



<body>
{% block body %}

<div style="min-height: 100vh; text-align:center; background-color: #c9deff;">
  <ul class="navbar navbar-expand navbar-light bg-light sticky-top" style="background-color: orange !important;">
      <a href="/community/" class="nav-item nav-link">Community</a>
      <a href="/community/scientists/" class="nav-item nav-link">Scientists</a>
      <a href="/projects/" class="nav-item nav-link">Projects</a>
      <!--a href="/community/faq/" class="nav-item nav-link">Discussions</a-->
        <div style="width: 100%;"></div>
      <a href="/accounts/profile/view/" class="nav-item nav-link">Profile</a>
  </ul>
{% endblock %}
</div>

</body>
</html>
